<div class="topbar">
  <div class="container inner">
    <div class="brand">
      <div class="sig"></div>
      <div>
        <div class="title">Bozart Army</div>
        <div class="sub">BA-OS / Archiv</div>
      </div>
    </div>

    <nav class="nav">
    <a href="/bozart-army-web/">Home</a>
<a href="/bozart-army-web/welten/">Welten</a>
<a href="/bozart-army-web/akten/">Akten</a>
<a href="/bozart-army-web/wbn/">WBN</a>
<a href="/bozart-army-web/charaktere/jokersec/">JokerSec</a>
    </nav>
  </div>
</div>
